


<form  #f="ngForm" (ngSubmit)="onSubmit(f)" >
  <div>
    <h2>Edit Contact</h2>
    <br>
    <br>
  </div>
    <div>
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text"
                   [ngModel]="editObject?.fname" 
                   class="form-control"
                   id="fname"
                   maxlength="50"
                   pattern="[a-zA-Z]+"
                   required ngModel name ="fName">
        </div>
        <div class="form-group">
            <label for="mname">Middle Name</label>
            <input type="text"
                   class="form-control"
                   id="mname"
                   [ngModel]="editObject?.mname"
                   pattern="[a-zA-Z]+" 
                   required ngModel name = "mName">
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text"
                   class="form-control"
                   id="lname"
                   [ngModel]="editObject?.lname" 
                   maxlength="50"
                   pattern="[a-zA-Z]+"
                   required ngModel name = "lName">
        </div>
        <div class="form-group">
            <label for="number">Number</label>
            <input type="text"
                   class="form-control"
                   id="number"
                   [ngModel]="editObject?.phonenumber" 
                   pattern="^(\+91[\-\s]?)?[0]?(91)?\d{10}$"
                   required ngModel name = "phNumber">
        </div>
        <div class="form-group">
            <label for="number">Address</label>
            <textarea class="form-control"
                      id="address"
                      [ngModel]="editObject?.address" 
                      ngModel name = "address">
            </textarea>
        </div>

    </div>
    <button type="button" class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-primary">Update</button>
</form>